<!DOCTYPE html>
<html lang="en">
    {% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CARNET MÉDICAL</title>
    <link rel="stylesheet" href="{% static '../staticfiles/css/style/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static '../staticfiles/css/bootstrap/bootstrap.min.css' %}">
    <link rel="shortcut icon" href="{% static '../staticfiles/img/images.png' %}" type="image/x-icon">
</head>
<body style="background-image: url(../staticfiles/img/img.png); background-repeat: no-repeat;">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card mt-5 bg-transparent" style="box-shadow: 0px 0px 10px rgba(42, 43, 43, 0.3);">
                    <div class="card-header">
                        <h1 class="text-success text-center">Carnet médical</h1>
                    </div>
                    <div class="card-body text-success" style="background-color: rgba(15,200,200,0.1);">
                        <form method="POST">
                            {% csrf_token %}
                            <table>
                                <div class="row">
                                    {{ form.as_table }}
                                </div>
                            </table><br><br>
                                <div class="d-grid gap-2">
                                    <input type="submit" class="btn btn-success text-light" value="Valider">
                                  </div>
                            </p>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="{% static '../staticfiles/js/form.js' %}"></script>
</body>

</html>